/*навигация, ссылки, логотип,выбор языка*/
.header {
   display:flex;
   justify-content: space-between;
   align-items: center;
   background-image:$bg-gradient-main;
   position:sticky;
   top:0;
   z-index:100;
   width: 100%;
  transition: background 0.5s ease, opacity 0.5s ease;
  
 
   &__media {
    flex: 1;
    color:$multi;
    margin-left: clamp(1rem,3vw,1.875rem);
   }
   &__logo{
    display:flex;
    background:$light;
    width:clamp(12.5rem,20vw,16.25rem);
    aspect-ratio: 13/8;
    margin-left:clamp(1rem,3vw,3.125rem);
    text-align: center;
    align-items: center;
    justify-content: center;
   }
}

.nav {
    &__list {
        display: flex;
        list-style: none;
        margin:0;
        padding:0;
        gap:clamp(2rem,3vw,4rem);
        text-transform: uppercase;  
    }
    &__link { 
        text-decoration: none;
        color:$light;
    }
}
/*главная страница, секция герой, картинка, заголовок, водяной знак*/
.hero {
  position:relative;
  background-image:$bg-gradient-main;
  background-repeat: no-repeat;
  background-size: cover;     
  background-position: right center;
  min-height: 80vh;             
  padding: 0;
  z-index:0;
  padding-top: clamp(3.5rem,7vw,7rem);
      &__header{
        color:$light;
        margin-bottom:clamp(1rem,4vw,2.5rem);
        text-align: left; 
    }
    &__content{
      display:flex;
      flex-direction: column;
      height: 100%;
        position:relative;
        z-index:2;
    }
    &__teg{
        font-size: $fs-h4;
        color:$multi;
        margin-bottom:clamp(1,2vw,1.25rem);
    }
    &__bnr{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items:center;
    gap:clamp(1rem,4vw,2.5rem);
    position: relative;
    min-height: 80vh;
}
&__watermark {
  position: absolute;
  z-index:1;
  top:0;
  left:0;
  height:clamp(27em,54vw,54em);
  width:clamp(45em,80vw,87.5em);
  opacity: 0.1;
  pointer-events: none;
  filter: brightness(120%);
  padding-bottom: clamp(2rem,3vw,3.125rem);;
}
 &__svg{
   width: 100%;
    max-width: clamp(27em,55vw,58.5em);
    height: auto;
    z-index: 2;
    }
&__img {
      display:flex;
    justify-content: flex-end;
        position:relative;
        z-index:2;
}
}


/*иконки на главной странице*/
.icon {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: clamp(0.625rem, 2vw, 1.25rem);
  margin: clamp(2rem, 3vw, 3.125rem);
  color: $light;
  align-items: start;

  svg {
    width: 44px;
    height: 44px;
    display: block;    
    flex-shrink: 0;
    align-items:start;
  }

  &__winner,
  &__location,
  &__calender{
    display: flex;
    align-items: flex-start;
    gap: 0.625rem;
    color: $light;
  } 
.text-container p{
  line-height: 1;
}
}


/*карточки участников*/
.slider {
    position:relative;
    margin:0;

    &__inner{
        display:flex;
        flex-wrap: nowrap;
        gap:clamp(0.625rem, 4vw, 1.875rem);
        list-style: none;
       padding:0;
       margin:0;
       
    }
    &__item{
        position:relative;
        flex:0 0 30rem;
        &-inner{
          position:relative;
        }
        
    }
    img{
      display:block;
      max-width: 100%;
      height: auto;
    }
}
.card {
 display:grid;
 grid-template-rows: auto 1fr auto;
 gap:1.25rem;
 background-color: #F4F4F4;
 min-width: clamp(17.5rem, 30vw, 26.25rem);
 position:absolute;
 bottom: clamp(-2.5rem, -5vw, -4.688rem);
 left: clamp(-0.625rem, -2vw, -1.563rem);
 align-items: stretch;
 padding:clamp(0.5rem, 1vw, 1rem);
 border-radius:0.25rem;
 
 &__people{
display: grid;
grid-template-columns: auto 1fr;
grid-template-rows: auto auto;
column-gap:0.813rem;
align-items: start;
 }


 &__foto{
  display: block;
  grid-row: 1/3;
  grid-column: 1;
  object-fit: cover;
 }

 &__name{
  grid-row:1;
  grid-column: 2;
    font-size: $fs-h4;
    margin:0;
    white-space: normal;
 }
 &__country-label{
  grid-row:2;
  grid-column: 2;
 text-transform: uppercase;
 opacity: 0.32;


 }
 &__location{
  margin-left: auto;
  align-self: flex-end;
 }
 &__social{
  display: flex;
  gap:0.75rem;
  list-style: none;
  padding: 0;
 }
 &__icon{
 width: 1.5rem;
  height: 1.5rem;
  color: $iconcolor;
   &:hover{
  color:$multi;
  transition: color 0.3s ease;
}
}

}

.participants{
  position:relative;
    &__slider{
        text-align: left;
        margin:clamp(1rem,2vw,1.25rem);
        padding:clamp(1rem,2vw,1.25rem);
    }
}
/*карточки жюри*/
.jury{
   &__icon{
  width: 1.5rem;
  height: 1.5rem;
  color: $iconcolor;
   &:hover{
  color:$multi;
  transition: color 0.3s ease;
}
}
    &__inner{
        display:flex;
        gap:clamp(2rem,3vw,3.125rem);
        list-style: none;
        margin:clamp(2rem,3vw,3.125rem);
    }
      &__social {
        display: flex;
        justify-content: flex-end;
        gap:0.625rem;
        position:absolute;
        bottom:0.625rem;
        right:0.625rem;
        list-style: none;
    }
    &__item{
      display: grid;
      grid-template-rows: auto 1fr;
    }
    &__wrapper{
    grid-row:1/2;
    }
   &__card{
    grid-row:2/3;
    background-color: #F4F4F4;
    align-items: center;
    padding:clamp(0.313rem,2vw,0.625rem);
    border-radius:0.25rem;
    position:relative;
    margin-top:-1.25rem;
  
    &-country{
        display: flex;
        justify-content: flex-end;
        text-transform: uppercase;
        opacity:0.32;
    }
    &-firstname{
        font-weight: $fw-bold;
    }
    &-lastname{
         font-weight: $fw-bold;
    }
    &-text{
        font-weight: $fw-regular;
        opacity:0.64;
    }
     
   }
   &__slider{
    position:relative;

   }
}
/* секция с тарифами */
.tickets {
  &__header {
  }
  &__cards {
  display: none;
  border: 1px solid $guttercolor;
  padding: 1.5rem;
  border-radius: 1rem;
  text-align: center;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: 0.7fr 1.3fr;
    gap: 3rem;
    padding: clamp(0.625rem,2vw,1.25rem);
  }

  &__table {
    display: block;
    width: 100%;
    min-width: 0;
    border: 1px solid #F2C03F;

    /* таблица тарифов */
  .tariffs {
      width: 100%;
      border-collapse: collapse;
      table-layout: fixed;
      text-align: center;
      opacity: 0.87;
       vertical-align: middle;
       tfoot td{
        padding-block:clamp(0.5rem,2vw,1rem);
        padding-inline:0;
        vertical-align: middle;
        text-align: center;
       }
       tfoot tr{
        height:auto;
        width:100%;
       }
       tfoot td:first-child{
        width:0;
        padding: 0;
       }

      th,
      td {
        line-height: 1.4;
        padding: 0.5rem 0.75rem;
      }
        
      /* золотой фон */
      .backgold {
        background-color: rgba(242, 192, 63, 0.1);
      }

      /* блок со звёздами */
      .tariffs__stars {
        .star{
          width:1rem;
          height:1rem;
          vertical-align: middle;
        }
        .star-dark{
          width:1rem;
          height:1rem;
          opacity:0.4;
          vertical-align: middle;
        }
        .stars {
          display: block;
          margin-top: 0.25rem;
          text-align: center;
        }
      }

      /* кнопки "Купить" */
      .btn--table {
        text-decoration: none;
        border: 1px solid gray;
        text-align: center;
        color: black;
        padding-inline:2rem;
        padding-block:0.5rem;
        min-height: 12rem;
        font-weight:$fw-regular;
        font-size: $fs-body;
        transition: transform .3s ease, box-shadow .3s ease;
       
        &:hover {
          background-color: $multi;
          color:$light;
        transform: translateY(-3px) scale(1.05);
        }
        &:focus-visible {
        outline: 0.125rem solid currentColor; 
       outline-offset:0.125rem;
       }
       
        &.btn-violet {
          background-color: #654ea3;
          color: white;
          &:hover {
          background-color: $multi;
        transform: translateY(-3px) scale(1.05);
        }
        }
      }
    }
  }
}

/* блок оплаты */
.payment {
  &__icon{
    width:3.688rem;
    height:1.688rem;
  }
  &__link {
    ul {
      display: flex;
      list-style: none;
      gap:clamp(1.563rem,3vw,3.125rem);
      align-items: center;
    }
  }

  &__tel {
    color:#654ea3;
    font-size:$fs-h4;
    text-decoration: none;
  }
}

/*секция с контактами и картой*/

.contacts {
align-items: start;
&__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:clamp(3.75rem,5vw,7.5rem);
}

&__legend{
    text-transform: uppercase;
    opacity: 0.32;
    font-weight: $fw-bold;
}
&__email{
    border-bottom:1px dashed #000;
    text-align: center;
   
    &-a{
    text-decoration: none;
    color:inherit;
    }
}

&__cols{
    white-space: normal;	
    vertical-align: top;
    width:100%;
    height:auto;
       
}
&__info{
   display: flex;
   gap:clamp(1.563rem,3vw,3.125rem);
   font-weight: $fw-regular;
   
}
&__map {
  position: relative;
  
}

&__media{
    display: flex;
    list-style: none;
}
 &__icon{
  width: 1.5rem;
  height: 1.5rem;
  color: $iconcolor;
   &:hover{
  color:$multi;
  transition: color 0.3s ease;
}
}
&__tel{
  text-decoration: none;
  color:inherit;
}
}

/*форма для отправки сообщения*/
.contact-form{
    margin:0 auto;
    gap:0.938rem;

    &__fieldset{
        border:none;
    }
    &__legend{
     font-size: $fs-text;
    opacity:0.32;
    text-transform: uppercase;
    }
    &__input{
        border:none;
        opacity:0.5;
        border-bottom: 1px solid #303030;
        width: 80%;
        max-width: clamp(16.875rem,30vw,33.75rem);
        transition: 0.3s;
        box-sizing: border-box;
        padding-block: 0.75em 1.563em;
        margin-bottom:clamp(10px,2vw,15px);
        &:focus{
            outline: none;
            border-bottom: 1px solid #000; 
            opacity: 1;
        }
    }
    &__textarea{
        border:none;
         font-size: $fs-body;
         opacity:0.5;
         font-family: $ff-text;
         border-bottom: 1px solid #303030;
         width: 80%;
          max-width: clamp(16.875rem,30vw,33.75rem);
        padding-block: 0.75em 1em;
        margin-block-end: clamp(12px, 2vw, 35px);
        &:focus{
            outline: none;
            border-bottom: 1px solid #000; 
            opacity: 1;
        }
    }
    &__btn{
      display: inline-flex;
      align-items: center;
      font-size: $fs-body;
        border:1px solid #D0D7DD;
        background-color: $light;
        text-transform: uppercase;
        padding: 0.75rem 2rem;          
        letter-spacing: 0.125rem;
        cursor: pointer;
        text-align: center;
        transition: transform .3s ease, box-shadow .3s ease;
        &:hover {
       transform: translateY(-3px) scale(1.05);
    }
     &:focus-visible {
    outline: 0.125rem solid currentColor; 
    outline-offset:0.125rem;
    }
}
}
/*адаптивные стили*/

@include media(1024px) {
  .container-xl {
    padding-inline: clamp(1rem, 3vw, 3.125rem);
  }


}
@include media(768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding-block: clamp(1rem, 3vw, 2.5rem);
    &__logo {
      margin-left: clamp(1rem, 3vw, 1.875rem);
      margin-bottom: clamp(1rem, 3vw, 2.5rem);
    }
  }
  .nav {
    &__list {
      flex-direction: column;
      gap: clamp(1rem, 3vw, 2.5rem);
    }
  }

  .hero {
    &__bnr {
      grid-template-columns: 1fr;
      text-align: center;
      gap: clamp(1rem, 4vw, 2.5rem);
    }
    &__img {
      justify-content: center;
    }
  }

  .tickets {
    &__wrapper {
      grid-template-columns: 1fr;
    }
  }

  .contacts {
    &__wrapper {
      grid-template-columns: 1fr;
    }
  }
  .jury {
    &__inner {
      flex-direction: column;
      gap: clamp(2rem, 3vw, 3.125rem);
    }
  }
 
  .contact-form {
    &__input,
    &__textarea {
      width: 100%;
      max-width: 100%;
    }
  }
  .hero__watermark {
    display: none;
  }
  .tariffs {
    th,
    td {
      font-size: $fs-text;
      padding: clamp(0.25rem, 1vw, 0.5rem);
    }
    .btn--table {
      padding: clamp(0.25rem, 1vw, 0.5rem) clamp(1rem, 3vw, 1.5rem);
      font-size: $fs-text;
    }
  }
  .tickets__table {
    display: none;
  }
    .tickets__cards { 
      display: flex;
       flex-direction: column; 
       gap: 2rem; 
      }
      .btn--table {
    padding: clamp(0.25rem, 1vw, 0.5rem) clamp(1rem, 3vw, 1.5rem);
    font-size: $fs-text;
  }
    .slider__inner{
    gap:clamp(1rem,3vw,2.5rem);
    flex-wrap: wrap;

  }
  }


  

@include media(480px) {
  .icon {
    grid-template-columns: repeat(2, 1fr);
  }

  .slider {
    &__item {
      flex: 0 0 20rem;
    }
  }
  .jury {
    &__card {
      padding: clamp(0.313rem, 2vw, 0.5rem);
    }
  }
  .participants {
    &__slider {
      margin: clamp(1rem, 2vw, 1rem);
      padding: clamp(1rem, 2vw, 1rem);
    }
  }
}